#featuresContainer {
    margin: 40px auto auto auto;
    padding: 0;
    width: 60%;
}

@media (max-width: 992px) {
    #featuresContainer {
        margin: 30px auto auto auto;
        width: 80%;
    }
}

@media (max-width: 568px) {
    #featuresContainer {
        margin: 20px 0px 0px 0px;
        width: 100%;
    }
}