.content-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.btn.btn-raised {
    background-color: #CC3E4A;
}

.navbar.navbar-default {
    background-color: #CC3E4A;
}

.transparent-background-color {
    background-color: transparent;
}

.light-gray-background-color {
    background-color: #D8D8D8;
}

.black-color {
    color: #000;
}

.red-color {
    color: #CC3E4A;
}

.red-background-color {
    background-color: #CC3E4A;
}

.white-color {
    color: white;
}

.section-top-buffer {
    margin-top: 60px;
}

.section-body {
    margin-top: 40px;
}

body {
    background-color: white;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
}

h1 {
    font-size: 375%;
    font-weight: 500;
}

h2 {
    font-size: 250%;
    font-weight: 400;
    color: #CC3E4A;
}

h3 {
    font-size: 125%;
    font-weight: 300;
}

h4 {
    font-size: 75%;
    font-weight: 100;
}

span {
    font-size: 125%;
}

p {
    font-family: "Roboto", "sans-serif";
    font-size: 125%;
    font-weight: 300;
}

li {
    font-size: 125%;
}

a {
    color: #CC3E4A;
    cursor: pointer;
}

a:focus, a:hover {
    color: #CC3E4A;
}

::selection {
    background: #F5F44A;
}
::-moz-selection {
    background: #F5F44A;
}

ul {
    padding-left: 20px;
}

.no_size {
    font-size: 16px;
}

.text-bold {
    font-weight: 400;
}

.btn.btn-raised.btn-primary {
    background-color: #CC3E4A;
}

.btn.btn-raised:not(.btn-link):focus.btn-primary {
    background-color: #CC3E4A;
}

.btn.btn-raised:not(.btn-link):active.btn-primary {
    background-color: #CC3E4A;
}

.btn.btn-raised:not(.btn-link):hover.btn-primary {
    background-color: #E05762;
}

.form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CC3E4A), to(#CC3E4A)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#CC3E4A, #CC3E4A), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#CC3E4A, #CC3E4A), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#CC3E4A, #CC3E4A), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #CC3E4A;
}

@media (max-width: 992px) {
    .content-container {
        max-width: 640px
    }

    .section-body {
        margin-top: 30px;
    }
}

@media (max-width: 568px) {

    h3 {
        font-size: 120%;
    }

    h4 {
        font-size: 90%;
    }

    p {
        font-size: 100%;
    }

    li {
        font-size: 100%;
    }

    span {
        font-size: 100%;
    }

    .section-top-buffer {
        margin-top: 40px;
    }

    .section-body {
        margin-top: 20px;
    }
}