#note {
    margin-top: 60px;
    margin-bottom: 35px;
}

#noteSubHeading {
    text-align: center;
}

#pricingSummary {
    margin-top: 80px;
    margin-bottom: 50px;
}

#testimonialsContainer {
    margin-top: 200px;
}

#processImage {
    height:80px;
}

#processTitle {
    margin-top: 40px;
    margin-bottom: 10px;
}

#processDescription {
    margin-bottom: 80px;
    height:150px;
}

@media (max-width: 992px) {
    #pricingSummary {
        margin-top: 50px;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    #testimonialsContainer {
        margin-top: 140px;
    }

    #processDescription {
        margin-bottom: 60px;
    }
}

@media (max-width: 568px) {
    #pricingSummary {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    #testimonialsContainer {
        margin-top: 70px;
    }

    #processDescription {
        margin-bottom: 40px;
    }
}

