#portfolioRoot {
    margin-bottom: 40px;
}

#portfolioContainer {
    padding-top: 40px;
    padding-bottom: 60px;
}

#hireMeContainer {
    margin-top: 100px;
}

#portfolio_application_icon {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 568px) {
    #portfolioContainer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #portfolio_application_icon {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}