<div class="container-fluid content-container">
    <div>
        <h2>About</h2>
        <p class="section-body">I like to think of myself as a problem solver and a creator of tools. I believe that every line of code I write plays a part in improving someone’s life and I’m passionate about how I do it. Work is fun!</p>
        <p>I have a Bachelor’s degree in Computer Science and have been building mobile applications since the past 6 years. I focus on building high quality mobile applications with an emphasis on maintainability, performance and fluid interactions.</p>
        <p>I typically work with small & mid sized organizations helping to shape their mobile strategy. I also work with software development agencies as an outsourcing partner.</p>
        <p>I am passionate about writing good content. I like to pick complex problems, break them down into easy to understand bits and seal it all together using logic thereby making problem solving a simple extension of common sense. This has not only helped me become better but has also allowed me to help numerous others. I’m the co-author of <a href="https://www.raywenderlich.com/store/ios-6-by-tutorials?source=alihafizji" target="_blank">iOS 6 by Tutorials</a> and <a href="https://www.raywenderlich.com/store/2d-ios-tvos-games-by-tutorials?source=alihafizji" target="_blank">2D iOS & tvOS Games by Tutorials</a>. These books were written along with the awesome folks at <a href="https://www.raywenderlich.com" target="_blank">raywenderlich.com</a>.</p>
        <p>I want to combine my interest in sharing knowledge with my love for software development by conducting workshops, seminars and corporate training events. Starting April, 2016 I'm available to conduct these sessions so if you're looking for someone then let's talk.</p>
        <p>I also love startups, learning about interesting design and technology solutions, studying the global economy and gardening.</p>
    </div>

    <div class="section-top-buffer">
        <h2>Trivia</h2>

        <div class="row section-body">
            <p class="col-xs-12 col-sm-8">
                I admire the financial strategies of Warren Buffet and Charlie Munger.  I’ve spent the last two years learning the principles of Value investing and I spend a lot of time studying publicly listed companies and their balance sheets. I’m always on the look-out for good businesses that are available within a good margin of safety.
            </p>
            <img src="/assets/graph.svg" class="col-sm-4 hidden-xs" class="img-responsive">
        </div>

        <br/>

        <p>I spend a lot of time gardening. It started three years ago when I bought six indoor plants, soon this grew and my wife and I created an entire garden with more than 150 plants and trees.</p>
        <p>I’ve recently started growing herbs hydroponically and I hope to someday grow everything including all the vegetables we need.</p>
        <p>Very often my wife jokes about how I have no tolerance for indulging in things lightly, I do not simply get involved in a project, I get obsessed!</p>
    </div>
</div>
