<link href="/css/navbar.css" rel="stylesheet"/>

<div class="red-background-color">
<nav class="navbar navbar-default content-container" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-bold" href="/">AH</a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>