<link href="/css/white_nav_bar.css" rel="stylesheet"/>

<nav class="navbar navbar-default content-container">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="icon-bar red-color"></span>
                <span class="icon-bar red-color"></span>
                <span class="icon-bar red-color"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </div>
    </div>
</nav>