{{ partial "head_imports" .}}
<link href="/css/homepage.css" rel="stylesheet"/>

<div id="header">
    <h1 class="white-color text-center" id="headerTitle">Hi, I'm Ali</h1>
    <p class="white-color text-center headerSubTitle">Writer. Freelance iOS, Android and Web Developer.</p>
    <p class="white-color text-center headerSubTitle">Devoted husband. World's largest consumer of chocolate chip ice-cream.</p>
</div>

{{ partial "white_nav_bar" .}}

<div class="container-fluid content-container" id="container">

    <div class="row sectionContainer" id="whatIdDoContainer">
        <div class="col-sm-12 col-md-7">
            <h2>What I do</h2>
            <p class="section-body">I am a published author and a freelance iOS, Android and Web developer. I work with small and mid sized companies and agencies to bring ideas to life.</p>
            <p>I am passionate about what I do and enjoy working with like-minded people who are care about creating quality products. If this is something you are looking for then let's get talking.</p>
        </div>
        <img class="img-responsive col-md-5 visible-lg visible-md" src="/assets/papers_coffee.png"/>
    </div>

    <div class="row sectionContainer">
        <div class="col-xs-12">
            <h2>Why should you hire me?</h2>
            <p class="section-body">Having run my own company in the past, I understand what my clients are looking for and I go the extra mile to appreciate and incorporate their business goals to make the company more successful.</p>
            <p>The following are my life mantras:</p>
            <ul>
                <li class="red-color no_size"><p class="no_size"><span class="text-bold">Quality:</span> <span class="black-color">Maintainable code, good user experience and performance.</span></p></li>
                <li class="red-color no_size"><p class="no_size"><span class="text-bold">Honesty:</span> <span class="black-color">Will not promise more that I can offer.</span></p></li>
                <li class="red-color no_size"><p class="no_size"><span class="text-bold">Dependability:</span> <span class="black-color">Treat each project as if it were my own.</span></p></li>
                <li class="red-color no_size"><p class="no_size"><span class="text-bold">Ambition:</span> <span class="black-color">Desire to be the best at what I do.</span></p></li>
                <li class="red-color no_size"><p class="no_size"><span class="text-bold">Respect:</span> <span class="black-color">Respectful in action and speech no matter what.</span></p></li>
            </ul>
        </div>
    </div>

    <div class="row" id="myBooksSection">
        <div class="col-xs-12">
            <h2>My Books</h2>
            <p class="section-body">I’ve written two books on building iOS games and applications with the amazing folks at raywenderlich.com. Use the links below to check them out or get yourself a copy.</p>

            <div id="booksGridContainer">
                {{ $context:= . }}
                {{ range .Site.Params.books }}
                <div class="col-xs-6">
                    {{ partial "book" (dict "context" $context "book" .) }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "footer" .}}
